/* standards ________________________________________________________________*/
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;

  /* border: 1px solid red; */
}
:root {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --background-color: rgb(33, 33, 33);
  --color: rgb(222, 222, 222);
  --color050: rgba(222, 222, 222, 0.5);

  background-color: var(--background-color);
  color: var(--color);
}

/* elements _________________________________________________________________*/
button {
  background-color: var(--color);
  color: var(--background-color);
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 1rem;
  /* &:hover,
  &:focus {
    background-color: var(--color);
  } */
}

a {
  color: var(--color);
}

h1 {
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
}

.material-symbols-outlined {
  text-decoration: none;
  font-size: 1.25rem !important;
}

button.material-symbols-outlined {
  all: unset;
  cursor: pointer;
  font-family: 'Material Symbols Outlined', sans-serif;
  padding: 0 0.25rem;
}

.show,
.edit,
.create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  background-color: transparent;
  color: inherit;
  border-radius: 1rem;
  outline: 1px solid var(--color050);
  padding-left: 0.75rem;
  height: 1.5rem;
  width: 15rem;
}

.auth {
  display: flex;
  gap: 0.5rem;
  > input {
    width: 7.25rem;
  }
  > button {
    margin-left: auto;
  }
}

#root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}
